.Container {
    display: flex;
    justify-content: center; /* Centralizar os itens na mesma linha */
    margin-top: 30px;
}

.Cadastro-modal, .Login-modal {
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column; /* Mudança para empilhar os itens verticalmente */
    align-items: center; /* Centralizar itens horizontalmente */
}

@media only screen and (max-width: 768px) {
    .section {
        width: 100%;
        margin-bottom: 20px;
    }
}
