.dashboard {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.section {
    width: 45%; 
    margin: 0 10px;
    background-color: #f0f0f5; /* Cor lilás de fundo */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-food-section {
    order: -1; /* Mover para a esquerda */
}

.budget-section {
    order: 1; /* Mover para a direita */
}

.chart-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralizar horizontalmente */
}

.chart h5 {
    margin-bottom: 10px;
}

.chart img {
    width: 80%;
    max-width: 100%; /* Para garantir que a imagem não ultrapasse o tamanho do contêiner */
}

@media only screen and (max-width: 768px) {
    .section {
        width: 100%;
        margin-bottom: 20px;
    }
}
